<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %} 
    {% for app in app_data %} {{ app.app_name }}{% endfor %} {% endblock %}</title>
  <meta name="keywords" content="{{ meta_keywords }}" />
  <meta name="description" content="{{ meta_description }}" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'fixenix-5.0/css/main_style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'fixenix-5.0/css/carousel.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'fixenix-5.0/vendor/bootstrap-5.0.2/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'fixenix-5.0/vendor/fontawesome-6.0/css/all.min.css' %}" />
  <script type="text/javascript" src="{% static 'fixenix-5.0/vendor/jquery-3.5/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'fixenix-5.0/vendor/bootstrap-5.0.2/js/bootstrap.bundle.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'fixenix-5.0/js/main_style.js ' %}"></script>
</head>

<body class=" text-center ">
  {% block content %}

  {% endblock %}



</body>

</html>

<script>
  window.onscroll = function () { myFunction() };

  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>