<!-- sidebar start -->

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
      
      
      
      
      
      
      
              <div class="text-end">
              
             
              <div class=" gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-outline-danger button-r  me-md-2" type="button"  data-bs-toggle="tooltip" 
                data-bs-placement="right" title="Free Quote">Free Quote</button>
                <button type="button" id="sidebarCollapseX" class="btn r c" data-bs-toggle="tooltip" 
                data-bs-placement="right" title="Close">
                  <i class="fa fa-close"></i>
                   </button>
      
              </div>
            </div>
          </div>
        <div class="flex-shrink-0  bg-white">
       
        
              <li class="nav-item dropdown-acc border-bottom">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <i class="fa fa-language me-1 "></i> English
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Hindi</a></li>
                  <li><a class="dropdown-item" href="#">Bengali</a></li>
               
                </ul>
      
                
              </li>
      
         
      
      </div>
      </div>
          </a>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn sidebar-btn align-items-center rounded collapsed" 
              data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Home
              </button>
              <div class="collapse show" id="home-collapse">
                <ul class="sidebar-btn-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">Overview</a></li>
                  <li><a href="#" class="link-dark rounded">Updates</a></li>
                  <li><a href="#" class="link-dark rounded">Reports</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn sidebar-btn align-items-center rounded collapsed" 
              data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Dashboard
              </button>
              <div class="collapse" id="dashboard-collapse">
                <ul class="sidebar-btn-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">Overview</a></li>
                  <li><a href="#" class="link-dark rounded">Weekly</a></li>
                  <li><a href="#" class="link-dark rounded">Monthly</a></li>
                  <li><a href="#" class="link-dark rounded">Annually</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn sidebar-btn align-items-center rounded collapsed"
               data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Orders
              </button>
              <div class="collapse" id="orders-collapse">
                <ul class="sidebar-btn-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">New</a></li>
                  <li><a href="#" class="link-dark rounded">Processed</a></li>
                  <li><a href="#" class="link-dark rounded">Shipped</a></li>
                  <li><a href="#" class="link-dark rounded">Returned</a></li>
                </ul>
              </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
              <button class="btn sidebar-btn align-items-center rounded collapsed" 
              data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Account
              </button>
              <div class="collapse" id="account-collapse">
                <ul class="sidebar-btn-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">New...</a></li>
                  <li><a href="#" class="link-dark rounded">Profile</a></li>
                  <li><a href="#" class="link-dark rounded">Settings</a></li>
                  <li><a href="#" class="link-dark rounded">Sign out</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
          
       <li class="border-top my-3"></li>
        
        <ul class="social-icons text-center">
          
          <li><a href="https://www.facebook.com/Fixenix.mobile/" target="_blank" title="">
            <i class="fab fa-facebook-square c"></i></a></li>
          <li><a href="#" target="_blank" title="">
            <i class="fa fa-twitter c"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCuAfKZwQtA6b8YJV1ofVoCQ" target="_blank" title="">
            <i class="fab fa-youtube c"></i></a></li>
          <li><a href="https://www.instagram.com/fixenix_official/" target="_blank" title="">
            <i class="fab fa-instagram c"></i></a></li>
        </ul>
              <div class="col-lg-5">
                              <ul class="text-center">
                              <li><i class="fa fa-phone r mr-3"></i>+917992200751</li>
                              <li><i class="fa fa-envelope r mr-3"></i> info@fixenix.com</li>
                              </ul>
                          </div>
      </nav>
      
      
        </header>